<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

    <title>Harriot - About us</title>

    <meta name="description" content="Everything about Harriot as a company." />

    <meta name="keywords" content="wed design, web development, software development, bots, scraping" />
    <meta name="robots" content="all" />

    <link rel="canonical" href="https://harriot.fi/about" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="css/navigation.css" />
    <link rel="stylesheet" href="css/common.css" />
    <link rel="stylesheet" href="css/about.css" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
          integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf"
          crossorigin="anonymous">
</head>
<body>

<% include assets/navigation.html %>

<div class="page">
    <h1 class="page__title">
        <img src="img/SS_about_title.png" alt="ABOUT US" />
    </h1>

    <span class="page__next-link">
        <i class="far fa-arrow-alt-circle-down fa-6x"></i>
    </span>
</div>

<div class="page extender">
    <div class="container">
        <div class="section">
            <a id="section_scroll_anchor"></a>
            <h2 class="section__title" id="hidden-section">
            <span>
                <span>Who</span> are we?
            </span>
            </h2>
            <div class="section__content">
                <p>
                    <span>Harriot</span> is a software development company based in Finland.
                    We specialize in high quality custom websites.
                </p>
                <p>
                    Our <span>goal</span> is to create a strong online presence for <span>your company</span>.
                    We'll work together with <span>you</span> to create exactly the type of product you desire.
                </p>
            </div>
        </div>

        <div class="section">
            <h3 class="section__title">
            <span>
                <span>What</span> do we offer?
            </span>
            </h3>
            <div class="section__content">
                <p>Harriot offers you:</p>
                <ul class="section__content__list fa-ul">
                    <li>
                        <span class="fa-li">
                            <i class="fas fa-angle-right fa-lg"></i>
                        </span>
                        Website design, development, deployment <span>&</span> maintenance
                    </li>
                    <li>
                        <span class="fa-li">
                            <i class="fas fa-angle-right fa-lg"></i>
                        </span>
                        Standalone software development (Javascript, PHP)
                    </li>
                    <li>
                        <span class="fa-li">
                            <i class="fas fa-angle-right fa-lg"></i>
                        </span>
                        Scraping software development
                    </li>
                    <li>
                        <span class="fa-li">
                            <i class="fas fa-angle-right fa-lg"></i>
                        </span>
                        Bot software development (Discord)
                    </li>
                </ul>
                <!--
                <p>
                    To learn more about our packages, visit
                    <a href="#"
                       title="Pricing page link">
                        <span>https://harriot.fi/pricing</span>
                    </a>
                </p>
                -->
            </div>
        </div>
    </div>
</div>

<!-- SCRIPTS -->
<script type="text/javascript" src="js/navigation.js"></script>
<script type="text/javascript" src="js/about.js"></script>

</body>
</html>