<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

    <title>Harriot - Home</title>

    <meta name="description" content=
    "High quality, custom software development. We offer website design and development
    along with other software solutions."
    />

    <meta name="keywords" content="web, wed design, web development, software development, bots, scraping" />
    <meta name="robots" content="all" />

    <link rel="canonical" href="https://harriot.fi" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="css/navigation.css" />
    <link rel="stylesheet" href="css/common.css" />
    <link rel="stylesheet" href="css/index.css" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
          integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf"
          crossorigin="anonymous" />
</head>
<body>

<nav class="navigation">
    <div class="navigation__links-left">
        <a class="navigation__brand active"
           title="Home page link"
           href="./"
           target="_self">
            <img  class="navigation__brand__title" src="img/SS_home_icon.png" alt="HOME">
        </a>
    </div>
    <div class="navigation__floater">
        <div class="navigation__floater__links-container" id="hidden-links-container">
            <div class="navigation__floater__links-container__cover">
                <img class="navigation__floater__links-container__cover__image"
                     src="img/SS_menu_icon.png"
                     alt="MENU">
            </div>
            <ul>
                <li>
                    <a class="navigation__floater__links-container__link"
                       title="Projects page link"
                       href="./projects"
                       target="_self">
                        Projects<i class="far fa-folder-open"></i>
                    </a>
                </li>
                <li>
                    <a class="navigation__floater__links-container__link"
                       title="About us page link"
                       href="./about"
                       target="_self">
                        About us<i class="far fa-address-card"></i>
                    </a>
                </li>
                <li>
                    <a class="navigation__floater__links-container__link"
                       title="Contact us page link"
                       href="./contact"
                       target="_self">
                        Contact us<i class="far fa-envelope"></i>
                    </a>
                </li>
                <li>
                    <a class="navigation__floater__links-container__link"
                       title="GitHub external link"
                       href="https://github.com/Harriot"
                       target="_blank">
                        GitHub <i class="fab fa-github"></i>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<div class="page">
    <div class="page__container">
        <h1>
            <a class="page__container__title desktop"
               title="Harriot homepage link"
               href="/">
                <img src="img/SS_title_desktop.png"
                     alt="Harriot page title"
                     class="page__container__title__image desktop" />
            </a>
            <a class="page__container__title tablet"
               title="Harriot homepage link"
               href="/">
                <img src="img/SS_title_tablet.png"
                     alt="Harriot page title"
                     class="page__container__title__image tablet" />
            </a>
        </h1>
        <div class="page__container__links">
            <h2 class="page__container__links__link hvr-grow-rotate">
                <a href="/projects"
                   title="Projects page link"
                   target="_self">
                    View our projects!
                </a>
            </h2>
            <h3 class="page__container__links__link hvr-grow-rotate">
                <a href="/about"
                   title="About us page link"
                   target="_self">
                    Learn more about us!
                </a>
            </h3>
        </div>
    </div>
</div>

<!-- SCRIPTS -->
<script type="text/javascript" src="js/navigation.js"></script>

</body>
</html>