<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

    <title>Harriot - Home</title>

    <meta name="description" content=
    "High quality, custom software development. We offer website design and development
    along with other software solutions."
    />

    <meta name="keywords" content=
    "Harriot Software, web, wed design, web development, software development, bots, scraping"
    />
    <meta name="robots" content="all" />

    <link rel="canonical" href="https://harriot.fi" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="css/navigation.css" />
    <link rel="stylesheet" href="css/common.css" />
    <link rel="stylesheet" href="css/index.css" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
          integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf"
          crossorigin="anonymous" />
</head>
<body>

<% include assets/navigation.html %>

<div class="page">
    <div class="page__container">
        <h1 class="page__container__title desktop">
            <img src="img/Harriot_logo_large.png"
                 alt="Harriot page title"
                 class="page__container__title__image desktop" />
        </h1>
        <div class="page__container__links">
            <a href="./contact"
               class="page__container__links__link hvr-grow-rotate"
               title="Contact page link"
               target="_self">
                Contact us today!
            </a>
            <a href="./projects"
               class="page__container__links__link hvr-grow-rotate"
               title="Projects page link"
               target="_self">
                View our projects
            </a>
        </div>
    </div>
</div>

<!-- SCRIPTS -->
<script type="text/javascript" src="js/navigation.js"></script>

</body>
</html>