<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

    <title>Software Shenanigans - View our projects!</title>

    <meta name="description" content=
    "Software Shenanigan's projects -page showcasing our projects."
    />

    <meta name="keywords" content="web development, software development, software shenanigans, projects" />
    <meta name="robots" content="all" />

    <link rel="canonical" href="https://softwareshenanigans.com/projects" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="css/navigation.css" />
    <link rel="stylesheet" href="css/common.css" />
    <link rel="stylesheet" href="css/projects.css" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
          integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf"
          crossorigin="anonymous" />
</head>
<body>

<nav class="navigation">
    <div class="navigation__links-left">
        <a class="navigation__brand active"
           title="Home page link"
           href="./"
           target="_self">
            <img  class="navigation__brand__title" src="img/SS_home_icon.png" alt="HOME">
        </a>
    </div>
    <div class="navigation__floater">
        <div class="navigation__floater__links-container" id="hidden-links-container">
            <div class="navigation__floater__links-container__cover">
                <img class="navigation__floater__links-container__cover__image"
                     src="img/SS_menu_icon.png"
                     alt="MENU">
            </div>
            <ul>
                <li>
                    <a class="navigation__floater__links-container__link"
                       title="Projects page link"
                       href="./projects"
                       target="_self">
                        Projects<i class="far fa-folder-open"></i>
                    </a>
                </li>
                <li>
                    <a class="navigation__floater__links-container__link"
                       title="About us page link"
                       href="./about"
                       target="_self">
                        About us<i class="far fa-address-card"></i>
                    </a>
                </li>
                <li>
                    <a class="navigation__floater__links-container__link"
                       title="Contact us page link"
                       href="./contact"
                       target="_self">
                        Contact us<i class="far fa-envelope"></i>
                    </a>
                </li>
                <li>
                    <a class="navigation__floater__links-container__link"
                       title="GitHub external link"
                       href="https://github.com/SoftwareShenanigans"
                       target="_blank">
                        GitHub <i class="fab fa-github"></i>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<div class="page">
    <div class="page__projects-container">
        <h1 class="page__projects-container__title">
            <img src="img/SS_projects_title.png" alt="OUR PROJECTS">
        </h1>
        <div class="page__projects-container__projects">
            <div class="project">
                <div class="project__image-container">
                    <h2>
                        <a class="project__image-container__title"
                           title="Link to CacheMaps.net"
                           href="https://CacheMaps.net"
                           target="_blank">
                            <img class="cachemaps" src="img/SS_projects_cachemapsnet_title.png" alt="CACHEMAPS.NET">
                        </a>
                    </h2>
                    <div class="project__image-container__image">
                        <a href="https://CacheMaps.net"
                           title="Link to CacheMaps.net"
                           target="_blank">
                            <img src="img/projects_cachemapsnet.png" alt="CacheMaps.net">
                        </a>
                    </div>
                </div>
                <div class="project__details">
                    <div class="project__details__toggle" id="cachemaps">
                        <span>More information</span><i class="fas fa-chevron-right fa-3x icon"></i>
                    </div>
                    <div class="project__details__container">
                        <div class="project__details__container__content">
                            <div class="project__details__container__content__technologies">
                                <div class="project__details__container__content__technologies__title">
                                    <h3>
                                        <span>Technologies</span> <span>used:</span>
                                    </h3>
                                </div>
                                <div class="project__details__container__content__technologies__content">
                                    <span class="javascript">
                                        Javascript
                                    </span>
                                    <span class="php">
                                        php
                                    </span>
                                    <span class="mysql">
                                        MySQL
                                    </span>
                                    <span class="d3js">
                                        D3.js
                                    </span>
                                    <span class="jquery">
                                        jQuery
                                    </span>
                                </div>
                            </div>
                            <div class="project__details__container__content__description">
                                <p>
                                    <span>CacheMaps</span>.net was created to allow geocachers to create visual
                                    statistical maps according to their geocaching finds. For example, users
                                    are able to create maps of their <span>FTF</span>, or First To Find, -finds which
                                    some users keep track of.
                                </p>
                                <p>
                                    Users quickly realized the website's potential in tracking
                                    <span>non-geocaching related</span> statistics as well. The website can be used
                                    to track just about <span>anything</span> on a municipality level.
                                </p>
                                <p>
                                    The website started off as a basic <span>HTML</span> / <span>Javascript</span>
                                    based website. Later, <span>PHP</span> was introduced to the project
                                    which allowed for more complex features, such as user accounts, profiles
                                    and much more.
                                </p>
                                <p>
                                    The website is styled entirely <span>without any CSS frameworks</span>.
                                    Everything is completely hand-written from scratch.
                                </p>
                                <p>
                                    <span>Photographs</span> present on CacheMaps.net is photographed by us.
                                </p>
                                <p>
                                    Maps are stored in <span>.csv</span> -file format and are rendered with the use
                                    of the <span>D3.js</span> -Javascript library. Additional information is also
                                    rendered alongside the maps with <span> Javascript</span>.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="project">
                <div class="project__image-container">
                    <h2>
                        <a class="project__image-container__title"
                           title="Link to NewsBot"
                           href="https://discordbots.org/bot/562687174697549856"
                           target="_blank">
                            <img class="newsbot" src="img/SS_projects_newsbot_title.png" alt="NEWSBOT">
                        </a>
                    </h2>
                    <div class="project__image-container__image">
                        <a href="https://discordbots.org/bot/562687174697549856"
                           title="Link to NewsBot"
                           target="_blank">
                            <img src="img/projects_newsbot.png" alt="NewsBot">
                        </a>
                    </div>
                </div>
                <div class="project__details">
                    <div class="project__details__toggle" id="newsbot">
                        <span>More information</span><i class="fas fa-chevron-right fa-3x icon"></i>
                    </div>
                    <div class="project__details__container">
                        <div class="project__details__container__content">
                            <div class="project__details__container__content__technologies">
                                <div class="project__details__container__content__technologies__title">
                                    <h3>
                                        <span>Technologies</span> <span>used:</span>
                                    </h3>
                                </div>
                                <div class="project__details__container__content__technologies__content">
                                    <span class="javascript">
                                        Javascript
                                    </span>
                                    <span class="mysql">
                                        MySQL
                                    </span>
                                    <span class="nodejs">
                                        Node.js
                                    </span>
                                    <span class="cheeriojs">
                                        Cheerio.js
                                    </span>
                                    <span class="node-cron">
                                        Node-cron
                                    </span>
                                </div>
                            </div>
                            <div class="project__details__container__content__description">
                                <p>
                                    <span>NewsBot</span> is a <span>Discord bot</span> which crawls various game
                                    websites for update articles. Whenever a game releases a new
                                    update, NewsBot posts an article about the update to all Discord channels which are
                                    subscribed to that game's news schedule.
                                </p>
                                <p>
                                    Users are also able to get the latest update article for any supported game
                                    instantly with the command <span>!nb news &lt;game&gt;</span>.
                                </p>
                                <p>
                                    NewsBot is built entirely with the <span>Node.js</span> -
                                    <span>Javascript library</span>.
                                </p>
                                <p>
                                    Website crawling is achieved with the aid of the <span>Cheerio</span> -library
                                    while the <span>Node-cron</span> -library handles scheduling of automatic news
                                    articles.
                                </p>
                                <p>
                                    <span>MySQL</span> is used to store the channels subscribed to various news
                                    schedules & to keep track of previously posted update articles.
                                </p>
                                <p>
                                    <span>Newsbot</span> has a
                                    <span>
                                        <a href="https://GitHub.com/Zecuel/NewsBot"
                                           title="Link to NewsBot's GitHub"
                                           target="_blank">GitHub repository</a>
                                        <i class="fab fa-github"></i>
                                    </span>
                                    which contains all of the project's core files.
                                </p>
                                <p>
                                    <span>NewsBot</span> also has a
                                    <a href="https://discordbots.org/bot/562687174697549856"
                                       title="Link to NewsBot discordbots.org page"
                                       target="_blank"><span>discordbots.org</span></a> -page.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- SCRIPTS -->
<script type="text/javascript" src="js/navigation.js"></script>
<script type="text/javascript" src="js/projects.js"></script>

</body>
</html>