<nav class="navigation">
    <div class="navigation__links-left">
        <a class="navigation__brand active"
           title="Home page link"
           href="./"
           target="_self">
            <img  class="navigation__brand__title" src="img/Harriot_logo_small.png" alt="HOME">
        </a>
    </div>
    <div class="navigation__floater">
        <div class="navigation__floater__links-container" id="hidden-links-container">
            <div class="navigation__floater__links-container__cover">
                Menu
            </div>
            <ul>
                <li>
                    <a class="navigation__floater__links-container__link primary"
                       title="Home page link"
                       href="./"
                       target="_self">
                        Home<i class="fa fa-home"></i>
                    </a>
                </li>
                <li>
                    <a class="navigation__floater__links-container__link"
                       title="Projects page link"
                       href="./projects"
                       target="_self">
                        Projects<i class="far fa-folder-open"></i>
                    </a>
                </li>
                <li>
                    <a class="navigation__floater__links-container__link"
                       title="Contact us page link"
                       href="./contact"
                       target="_self">
                        Contact us<i class="far fa-envelope"></i>
                    </a>
                </li>
                <li>
                    <a class="navigation__floater__links-container__link"
                       title="About us page link"
                       href="./about"
                       target="_self">
                        About us<i class="far fa-address-card"></i>
                    </a>
                </li>
                <li>
                    <a class="navigation__floater__links-container__link"
                       title="GitHub external link"
                       href="https://github.com/harriot-software"
                       target="_blank">
                        GitHub <i class="fab fa-github"></i>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>